<configuration>

    <!-- 定义控制台输出的appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 定义文件输出的appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/myApp.log</file> <!-- 日志文件名 -->
        <append>true</append> <!-- 如果文件存在，则追加内容 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 仅收集ERROR级别日志的文件appender -->
    <appender name="ERROR-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/error.log</file>
        <filter class="com.wyz.springbootdemo.logUtils.logFilter.ErrorToWarnFilter">
            <targetClass>JavaOriginLogger</targetClass>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置全局日志级别为DEBUG，并将日志输出到控制台和文件 -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <!-- 使用 FILE 或 ROLLING-FILE -->
        <appender-ref ref="FILE" />
        <appender-ref ref="ERROR-FILE" />
    </root>

</configuration>